<div ng-controller="managePharmacyCtrl">
	<form ng-submit="edit()" name="managePharmacyForm" class="form-horizontal">
		<div class="form-group">
			<label for='name' class="col-sm-2 control-label">Pharmacy</label> 
			<div class="col-sm-10">
				<input type="text" class='form-control' ng-model="pharmacy.name" id="name" ng-disabled='true'/>
			</div>
		</div>
		<div class='form-group'>
		 	<label for='city' class="col-sm-2 control-label">City</label>
		 	<div class="col-sm-10">
				<input type="text" class='form-control' ng-model="pharmacy.city" id="city" ng-disabled='true'/>
			</div>
		</div>
		<div class='form-group'>
		 	<label class="col-sm-2 control-label">Medications available in this pharmacy:</label>
		 	<div class="col-sm-10">
				<table class="table table-hover">
					<tr>
						<th width='300'>Name</th>
						<th width='200'>Price</th>
						<th width='150'>Actions</th>
					</tr>
					<tr ng-repeat="medication in pharmacy.medications">
						<td>{{medication.name}}</td>
						<td>{{medication.price}}</td>
						<td>
							<button type="button" style='width:100px' class="btn btn-warning" ng-click="removeMedicationFromPharmacy(medication.id)"><span class='glyphicon glyphicon-minus'></span> Remove</button>
						</td>				
					</tr>
				</table>
			</div>
		</div>
		<div class='form-group'>
			<label class="col-sm-2 control-label">Medications available in the market:</label>
			<div class="col-sm-10">
				<table class="table table-hover">
					<tr>
						<th width='300'>Name</th>
						<th width='200'>Price</th>
						<th width='150'>Actions</th>
					</tr>
					<tr ng-repeat="availableMedication in availableMedications" >
						<td>{{availableMedication.name}}</td>
						<td>{{availableMedication.price}}</td>
						<td>
							<button type="button" style='width:100px' class="btn btn-success" ng-click="addMedicationToPharmacy(availableMedication.id)"><span class='glyphicon glyphicon-plus'></span> Add</button>
						</td>				
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>